# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Secrets
.env

# Database files
db.sqlite3

# Static files collectés (production)
staticfiles/

# IDE / Editor files
.vscode/
.idea/